.chat_header{
    background-color: #1f1f1f;
}



/* .messages_container {
    width: 300px;
    height: 500px;
    background-color: aqua;
    padding: 16px;
    flex-grow: 1;
    border: 1px solid var(--color-gray);
    border-radius: var(--border-radius);
    overflow: hidden;
    display: flex;
    flex-direction: column;
} */
