.show_bottom{
    height: 340px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    margin-top: -0.5em;
}

.show_bottom::-webkit-scrollbar {
  width: 6px;
}

.show_bottom::-webkit-scrollbar-track {
  background: #999999;
  border-radius: 7px;
}

.show_bottom::-webkit-scrollbar-thumb {
  background: #757575;
  border-radius: 7px;
}

.show_bottom::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.message {
  padding: 0.25em 1em;
  text-align: left;
  display: inline-block;
  background-color: #a3a4a8;
  border-radius: 0px 6px 6px 6px;
  color: #1e1e1e;
  margin-bottom: 1em;
  margin-left: 2.75em;
  font-size: 16px;
  font-weight: 300;
  /* border: 1px solid #72B176; */
}

.own_message {
  align-self: flex-end;
  text-align: right;
  padding: 0em 1em;
  background-color: rgba(114, 177, 118, 0, 3000);
}

.sender {
  margin-bottom: 0.5em;
}

.sender_email{
    margin-left: 2em;
    color: #757575;
    font-size: 12px;
    font-weight: 200;
    margin-bottom: 0.25em;
}
